@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F2F5F9;
  margin: 0;
}

@layer base {
    :root {
        --primary-100: #007BFF;
        --primary-200: #69a9ff;
        --primary-300: #e0ffff;
        --accent-100: #FF851B;
        --accent-200: #8e2800;
        --text-100: #333333;
        --text-200: #5c5c5c;
        --bg-100: #F2F5F9;
        --bg-200: #e8ebef;
        --bg-300: #bfc2c6;
    }
}

